extends layout

block content
  link(rel='stylesheet', href='/css/index.css')
  .container.text-intro
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    div.row
      div.col-md-12
        h2(style='text-align:center;margin-top:100px;color: #fff;') Search and Track your interested Product!
        form(action='/result',method='post',style='margin-top:50px;').form-inline.sign-up-form
            input#search.form-control(type='text' name='keyword') 
            input.btn.btn-primary.margin-left(type='submit' value='SEARCH') 
         








      




